USE [db_comsucre]
GO
/****** Object:  StoredProcedure [db_seguridad].[sp_trx_insert]    Script Date: 29/10/2017 20:09:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [db_seguridad].[sp_trx_insert](
@id_trx VARCHAR(8),
@cod_trx VARCHAR(20),
@nombre_trx VARCHAR(20),
@descripciontrx VARCHAR(500),
@fechadecreaciontrx DATE,
@estadotrx BIT
,@trx VARCHAR(5) null,
@resultado VARCHAR(20) OUT)
as
BEGIN
DECLARE @CONT INT SET @CONT=(Select count(*) From [db_seguridad].[tb_trx] Where id_trx=@id_trx);IF @CONT=0 BEGIN
Insert Into  [db_seguridad].[tb_trx](id_trx,cod_trx,nombre_trx,descripciontrx,fechadecreaciontrx,estadotrx) Values(@id_trx,
@cod_trx,
@nombre_trx,
@descripciontrx,
@fechadecreaciontrx,
@estadotrx);
  END ELSE BEGIN   set @resultado='Ya existe un registro en el Sistema!';    END END

GO
