USE [db_comsucre]
GO
/****** Object:  StoredProcedure [db_seguridad].[sp_rol_insert]    Script Date: 29/10/2017 20:09:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [db_seguridad].[sp_rol_insert](
@id_rol VARCHAR(8),
@cod_rol VARCHAR(20),
@nombrerol VARCHAR(20),
@descripcionrol VARCHAR(500),
@fechacreacionrol DATE,
@estado BIT
,@trx VARCHAR(5) null,
@resultado VARCHAR(20) OUT)
as
BEGIN
DECLARE @CONT INT SET @CONT=(Select count(*) From [db_seguridad].[tb_rol] Where id_rol=@id_rol);IF @CONT=0 BEGIN
Insert Into  [db_seguridad].[tb_rol](id_rol,cod_rol,nombrerol,descripcionrol,fechacreacionrol,estado) Values(@id_rol,
@cod_rol,
@nombrerol,
@descripcionrol,
@fechacreacionrol,
@estado);
  END ELSE BEGIN   set @resultado='Ya existe un registro en el Sistema!';    END END


GO
