USE [db_comsucre]
GO
/****** Object:  StoredProcedure [db_seguridad].[sp_permisosroltrx_insert]    Script Date: 29/10/2017 20:09:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [db_seguridad].[sp_permisosroltrx_insert](
@id_permiso VARCHAR(8),
@id_roltrx VARCHAR(8),
@id_login VARCHAR(8),
@fechacreacionpermisosroltrx DATE,
@fechamodificacionpermisosroltrx DATE
,@trx VARCHAR(5) null,
@resultado VARCHAR(20) OUT)
as
BEGIN
DECLARE @CONT INT SET @CONT=(Select count(*) From [db_seguridad].[tb_permisosroltrx] Where id_permiso=@id_permiso);IF @CONT=0 BEGIN
Insert Into  [db_seguridad].[tb_permisosroltrx](id_permiso,id_roltrx,id_login,fechacreacionpermisosroltrx,fechamodificacionpermisosroltrx) Values(@id_permiso,
@id_roltrx,
@id_login,
@fechacreacionpermisosroltrx,
@fechamodificacionpermisosroltrx);
  END ELSE BEGIN   set @resultado='Ya existe un registro en el Sistema!';    END END


GO
